* {
    background: #E5E5E5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 150%;
}

.encabezado{
    line-height: 0%;
    margin: 1rem;
}

.titulo{
    color: #09305f;
    font-family: "Inter" sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: 600;
    margin-top: 0px;
}

main {
    display: flex;
    justify-content:space-evenly;
}

.text-area {    
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 20px 20px 20px;    
}

.boton{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.boton-encriptar{
    background-color: #0A3871;
    color:white;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px 145px;
    border: none;
}

.boton-desencriptar{
    background-color: #0A3871;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px 124px;
    border: none;
}

label{
    font-size: 20px;  
    margin: 20px;
}

.alerta{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.imagen-symbol{
    width: 25px;
    height: 25px;
}

.text-area-output{
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 20px 20px 20px;
}

.boton-copiar{    
    background-color: #0A3871;
    color:white;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px 20px;
    border: none;
    position: relative;
    top: -535px;
    left: 213px;
}

.mensaje{
    background-color: white;
    position: relative;
    top: -587px;
    left: 90px;
    width: 334px;
}

.muñeco{
    position: relative;
    background-color: white;
    top: -628px;
    left: 100px;
    width: 321px;
}

.output{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


